<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'parserSQL/partials/head-imports.html' %}
        {% include 'parserSQL/partials/visual-ide.html' %}
        <title>Parser SQL</title>
    </head>
    <body>
        
        <div class="top-bar">
            <i class="fa-solid fa-database top-bar-icon"></i>
            <span class="top-bar-title">Parser SQL</span>
        </div>
    
        <div class="conteudo">
            <div class="sidebar">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="sidebar-icon">
                        <input type="file" id="my-file" class="far fa-file" name='file' style="display: none;">
                        <label for="my-file" class="file-label"><i class='far fa-file' ></i></label>
                    </div>
                </form>
                <div class="sidebar-icon">
                    <i class="fas fa-search"></i>
                </div>
                <div class="sidebar-icon">
                    <i class="far fa-save"></i>
                </div>
                <div class="sidebar-icon">
                    <i class="fa-regular fa-circle-play"></i>
                </div>
            </div>
    
            <div id="editor">
            </div>
            <div class="div-log">
                <h1>teste</h1>
    
            </div>
        </div>
        
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.28.0/min/vs/loader.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</html>
