<script>
    require.config({ paths: { 'vs': 'https://unpkg.com/monaco-editor@0.30.1/min/vs' }});
    window.MonacoEnvironment = { getWorkerUrl: () => proxy };

    require(["vs/editor/editor.main"], function () {
        monaco.editor.defineTheme('monokai', {
            base: 'vs-dark',
            inherit: true,
            rules: [
                { token: 'comment', foreground: '888888' },
                { token: 'keyword', foreground: 'f92672' },
                { token: 'string', foreground: 'e6db74' },
                { token: 'number', foreground: 'ae81ff' }
            ],
            colors: {}
        });

        monaco.editor.setTheme('monokai');

        var editor = monaco.editor.create(document.getElementById('editor'), {
            value: "",
            language: "sql",
            automaticLayout: true
        });
    });
</script>